.login-header {
    /* background-color: #8D6346; */
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 80%;
    margin: 10px auto;
}

.logo {
    width: 80px;
    height: 80px;
    margin: auto 0;
}
h1 {
    font-size: 48px;
    margin-left: 10px;
}
h2 {
    margin: 10px auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formobj {
    margin: 5px;
}

.formobj input {
    margin: 5px;
}

section {
    margin: 0;
    padding: 0;
}
.login-body {
    background-color: #FABB3D;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-body {
    padding-top: 20px;
    background-color: #252525;
    height: 40%;
}

.about-body p {
    width: 80%;
    font-weight:600;
    text-align: justify;
    color: #eeeeee;
}