.request-form {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 55%;
    width: 85%;
    box-shadow: 2px 2px 2px #282c34;
}

.request-form input, .request-form select {
    margin-bottom: 15px;
    margin-left: 10px;
}

.request-form h2 {
    padding-top: 60px;
    margin-bottom: 20px;
}

.terminal {
    padding: 10px;
    margin-top: 10%;
    background-color: #282c34;
    color: white;
    height: 30%;
    width: 80%;
    box-shadow: 2px 2px 3px #282c34;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.terminal p {
    margin-left: 0;
}

.pagefold {
    position: absolute;
    left:0;
    top:0;
    width: 70px;
    height: 70px;
}

.request-page {
    align-items: center;
    justify-content: space-between;
    background-color: #FABB3D;
}

.hide {
    display: none;
}

img {
    width: 85%;
}

.finished {
    margin-bottom: 50px;
}

.terminal button {
    margin: 20px auto;
    bottom: 30px;
}